stages:
  - build
  - package
  - deploy

build:
  stage: build
  image: alpine
  before_script:
    - apk add npm git tar
    - npm ci
  script:
    - echo $CI_COMMIT_SHA > version
    - tar -cf app.tar --exclude-vcs --exclude=app.tar .
  artifacts:
    paths:
      - app.tar

build-mcc:
  stage: build
  image: alpine
  variables:
    GIT_STRATEGY: none
  before_script:
    - apk add git dotnet-host
    - git clone https://github.com/ORelio/Minecraft-Console-Client
  script:
    - cd Minecraft-Console-Client
    - dotnet publish --self-contained -r linux-musl-x64 -c Release
    - cp MinecraftClient/bin/Release/net6.0/linux-musl-x64/publish/MinecraftClient ../
  artifacts:
    paths:
      - MinecraftClient

build-lang:
  stage: build
  image: alpine:edge
  before_script:
    - apk add jq
  script:
    - ./mcc_download_new_lang.sh lzh
  artifacts:
    paths:
      - lang/lzh.lang

include:
  - project: ci-modulize/kubernetes
    file:
      - package.yml
      - deploy.yml
