stages:
  - build
  - package
  - deploy

build:
  stage: build
  image: alpine
  before_script:
    - apk add npm git tar
    - npm ci
  script:
    - echo $CI_COMMIT_SHA > version
    - tar -cf app.tar --exclude-vcs --exclude=app.tar .
  artifacts:
    paths:
      - app.tar

build-mcc:
  stage: build
  image: alpine
  variables:
    GIT_STRATEGY: none
  before_script:
    - apk add git dotnet6-sdk
    - git clone https://github.com/ORelio/Minecraft-Console-Client
    - cd Minecraft-Console-Client
    - git submodule update --init --recursive .
  script:
    - cd MinecraftClient
    - dotnet publish -f net6.0 --self-contained -r linux-musl-x64 -c Release
    - cp bin/Release/net6.0/linux-musl-x64/publish/MinecraftClient ../../
  artifacts:
    paths:
      - MinecraftClient

build-lang:
  stage: build
  image: alpine:edge
  before_script:
    - apk add jq
  script:
    - ./mcc_download_new_lang.sh lzh
  artifacts:
    paths:
      - lang/lzh.lang

include:
  - project: ci-modulize/kubernetes
    file:
      - package.yml
      - deploy.yml
